body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}
main{
    background-image: url(/images/unsplashbackground.jpg);
    text-align: center;
    width: 650px;
    height: auto;
    padding: 70px;
}

.second-container-image{
    border: 5px solid rgb(82, 57, 57);
    border-radius: 10px;
    width: 500px;
    position: relative;
    top: 0%;
    left: 10%;
    box-shadow: 5px 5px 10px rgba(0 0 0 0.7), -5px, -5px 10px rgba(173, 25, 25, 0.1) ;
    letter-spacing: 2px;
}

h2{
    font-weight: 500;
    color: #fff;
    font-size: 45px;
    
}

p{
    font-weight: 400;
    font-size: 200px;
    color: rgb(47, 83, 47);
}

#counter{
    margin: -100px;
}

button{
    background: rgb(47, 83, 47);
    color: #fff;
    padding: 15px 20px;
    border-radius: 7px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 10px rgba(0 0 0 0.7), -5px, -5px 10px rgba(36, 32, 32, 0.1) ;
    margin: 7px;
    font-weight: 400;
    font-size: 16px;
}

.btn{
    padding: 30px;
}

@media (max-width: 414px) {
    .second-container-image{
        width: 300px;
        position: relative;
        top: 5px;
        left: 5px;
        height: 500px;

    }

    p{
        font-size: 130px;
    }

}